<!--<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  -->
    <h3>Author: <%= nombre %></h3>
    <div>
      <p style="text-align: justify;">Soy un estudiante en Ingeniería informática. Especializado en Ingeniería del Software a falta de un año de su titulación. Apasionado por la automatización de “las cosas”, nacido en una pequeña ciudad de Guipúzcoa llamada Irún, España, hace 23 años. Desde pequeño me he interesado por la innovación y la automatización de los dispositivos que me rodean.</p>
      <p style="text-align: justify;">En mi tiempo libre me gusta informarme sobre los cambios que constantemente se están produciendo en el sector de la información, ya sea de los “gadgets” (o nuevas aplicaciones) o del desarrollo web y de apps móviles. Analizo y estructuro en mi mente cómo sería su diseño. También me gusta cocinar y elaborar platos con diseños peculiares.</p>
      <p style="text-align: justify;">Me apasiona viajar tanto por países extranjeros como por España, debido a dos aspectos totalmente diferenciados como relacionados: &nbsp;conocer mundo y otras culturas y asistir a audiciones o congresos informáticos.</p>

    </div>

    <div>
      <img title="Mi foto" alt="Andoni" src="http://andonisanchezantolin.esy.es/curriculum/images/andonisanchezantolin.png" height="150" width="180">
    </div>

<!--
    <p><a href="/quizes/question">Comience a jugar</a></p>
  </body>
</html>
-->